<div class="table-responsive mt-2">

    <table class="table table-bordered table-sm">
        <thead class="table-success text-center">
            <tr>
                <th>Loại nghỉ</th>
                <th>Từ ngày</th>
                <th>Đến ngày</th>
                <th>Loại công</th>
                <th>Số giờ nghỉ</th>
                <th>Trạng thái</th>
            </tr>
        </thead>
        <tr class="table-info">
            <td>Long</td>
            <td>Hoang</td>
            <td>hoanglong@fe.edu.vn</td>
            <td>hoanglong@fe.edu.vn</td>
            <td>hoanglong@fe.edu.vn</td>
            <td>hoanglong@fe.edu.vn</td>
        </tr>

        <tr class="table-active">
            <td>Lan</td>
            <td>Le</td>
            <td>lanle@fe.edu.vn</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
        </tr>

        <tr class="table-info">
            <td>Huong</td>
            <td>Nguyen</td>
            <td>huongnguyen@fe.edu.vn</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
        </tr>
    </table>
</div>