/* 755 of 4440 unused characters has been removed. */
@font-face {
    font-family: 'Rift';
    src: url('../Rift_2/Fort Foundry - Rift-Bold.otf') format('opentype'),url('../Rift_2/Fort Foundry - Rift-Demi.otf') format('opentype'),url('../Rift_2/Fort Foundry - Rift-Light.otf') format('opentype'),url('../Rift_2/Fort Foundry - Rift-Medium.otf') format('opentype'),url('../Rift_2/Fort Foundry - Rift-Regular.otf') format('opentype'),url('../Rift_2/Fort Foundry - Rift Bold Italic.otf') format('opentype'),url('../Rift_2/Fort Foundry - Rift Demi Italic.otf') format('opentype'),url('../Rift_2/Fort Foundry - Rift Italic.otf') format('opentype'),url('../Rift_2/Fort Foundry - Rift Light Italic.otf') format('opentype'),url('../Rift_2/Fort Foundry - Rift Medium Italic.otf') format('opentype'),url('../Rift_2/Fort Foundry - Rift Soft Bold Italic.otf') format('opentype'),url('../Rift_2/Fort Foundry - Rift Soft Demi Italic.otf') format('opentype'),url('../Rift_2/Fort Foundry - Rift Soft Italic.otf') format('opentype'),url('../Rift_2/Fort Foundry - Rift Soft Light Italic.otf') format('opentype'),url('../Rift_2/Fort Foundry - Rift Soft Medium Italic.otf') format('opentype'),url('../Rift_2/Fort Foundry - RiftSoft-Bold.otf') format('opentype'),url('../Rift_2/Fort Foundry - RiftSoft-Demi.otf') format('opentype'),url('../Rift_2/Fort Foundry - RiftSoft-Light.otf') format('opentype'),url('../Rift_2/Fort Foundry - RiftSoft-Medium.otf') format('opentype'),url('../Rift_2/Fort Foundry - RiftSoft-Regular.otf') format('opentype')
}

@font-face {
    font-family: 'SF-Pro-Text-Regular';
    src: url('../Sf Pro/SF-Pro-Text-Regular.otf') format('opentype')
}

@font-face {
    font-family: 'SF Pro';
    src: url('../Sf Pro/SF-Pro.ttf') format('truetype');
}

@font-face {
    font-family: 'Rift-Bold';
    src: url('../Rift_2/Rift-Bold.otf') format('opentype');
}

body {
    font-size: 11px !important
}

#tbl_Item_length {
    position: absolute;
    bottom: -7px;
    left: 206px;
}

#tbl_Item td {
    vertical-align: inherit;
}

.form-control {
    font-size: 11px !important
}

.btgetw {
    width: 200px
}

#txtHead {
    font-size: 25px;
    font-weight: normal;
    color: #253544;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 11px;
    text-transform: uppercase;
    font-family: system-ui;
}

.dropup .dropdown-menu, .navbar-fixed-bottom .dropdown .dropdown-menu {
    top: auto;
    bottom: 100%;
    margin-bottom: 2px;
}



.bootstrap-select .dropdown-menu {
    min-width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.dropup .dropdown-menu, .navbar-fixed-bottom .dropdown .dropdown-menu {
    top: auto;
    bottom: 100%;
    margin-bottom: 2px;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

ul.dropdown-menu.inner.show li a {
    font-size: 12px;
}

button.btn.dropdown-toggle.btn-light.bs-placeholder {
    background: #fff;
    font-size: 11px;
    border: 1px solid #d7d7d7;
    color: #495057;
}

button.btn.dropdown-toggle.btn-light {
    background: #fff;
    font-size: 11px;
    border: 1px solid #d7d7d7;
    color: #495057;
}

div#sidebar-collapse a {
    font-size: 13px !important;
    text-decoration: none;
}

.content_search .form-group {
    margin-bottom: 5px;
}

.content_search {
    padding-bottom: 10px;
}

.wp_footer ul li {
    font-size: 12px;
    font-style: italic;
}

.content_search .form-control {
    height: 30px !important;
    padding: 0px;
    padding-left: 4px;
}

.datedetail {
    width: 130px !important;
}
/*.table td, .table th {
    padding: 3px !important;
}*/

/*--------- loading type 1 ---------*/
.loading-1-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1100;
}

.loading-1 {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;
    -webkit-animation: spin 5s linear infinite; /* 2s Chrome, Opera 15+, Safari 5+ */
    animation: spin 5s linear infinite; /* 2s Chrome, Firefox 16+, IE 10+, Opera */
    z-index: 1101;
}

    .loading-1:before {
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #e74c3c;
        -webkit-animation: spin 1.5s linear infinite; /* 3s Chrome, Opera 15+, Safari 5+ */
        animation: spin 1.5s linear infinite; /* 3s Chrome, Firefox 16+, IE 10+, Opera */
    }

    .loading-1:after {
        content: "";
        position: absolute;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #f9c922;
        -webkit-animation: spin 0.75s linear infinite; /* 1.5s Chrome, Opera 15+, Safari 5+ */
        animation: spin 0.75s linear infinite; /* 1.5s Chrome, Firefox 16+, IE 10+, Opera */
    }

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg); /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg); /* IE 9 */
        transform: rotate(0deg); /* Firefox 16+, IE 10+, Opera */
    }

    100% {
        -webkit-transform: rotate(360deg); /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg); /* IE 9 */
        transform: rotate(360deg); /* Firefox 16+, IE 10+, Opera */
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg); /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg); /* IE 9 */
        transform: rotate(0deg); /* Firefox 16+, IE 10+, Opera */
    }

    100% {
        -webkit-transform: rotate(360deg); /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg); /* IE 9 */
        transform: rotate(360deg); /* Firefox 16+, IE 10+, Opera */
    }
}

.loading-1-wrapper .loading-1-section {
    position: fixed;
    top: 0;
    width: 50%;
    height: 100%;
    background: #222222;
    opacity: 0.1;
    z-index: 1100;
    -webkit-transform: translateX(0); /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(0); /* IE 9 */
    transform: translateX(0); /* Firefox 16+, IE 10+, Opera */
}

    .loading-1-wrapper .loading-1-section.section-left {
        left: 0;
    }

    .loading-1-wrapper .loading-1-section.section-right {
        right: 0;
    }

/* loaded */
.loaded-1 .loading-1-wrapper .loading-1-section.section-left {
    -webkit-transform: translateX(-100%); /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(-100%); /* IE 9 */
    transform: translateX(-100%); /* Firefox 16+, IE 10+, Opera */
    -webkit-transition: all 0.35s 0.15s cubic-bezier(0.645, 0.045, 0.355, 1.000); /* 0.7s 0.3s */
    transition: all 0.35s 0.15s cubic-bezier(0.645, 0.045, 0.355, 1.000); /* 0.7s 0.3s */
}

.loaded-1 .loading-1-wrapper .loading-1-section.section-right {
    -webkit-transform: translateX(100%); /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(100%); /* IE 9 */
    transform: translateX(100%); /* Firefox 16+, IE 10+, Opera */
    -webkit-transition: all 0.35s 0.15s cubic-bezier(0.645, 0.045, 0.355, 1.000); /* 0.7s 0.3s */
    transition: all 0.35s 0.15s cubic-bezier(0.645, 0.045, 0.355, 1.000); /* 0.7s 0.3s */
}

.loaded-1 .loading-1 {
    opacity: 0;
    -webkit-transition: all 0.15s ease-out; /* 0.3s */
    transition: all 0.15s ease-out; /* 0.3s */
}

.loaded-1 .loading-1-wrapper {
    visibility: hidden;
    -webkit-transform: translateY(-100%); /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateY(-100%); /* IE 9 */
    transform: translateY(-100%); /* Firefox 16+, IE 10+, Opera */
    -webkit-transition: all 0.15s 0.5s ease-out; /* 0.3s 1s */
    transition: all 0.15s 0.5s ease-out; /* 0.3s 1s */
}

/*--------- loading type 2 ---------*/
.loading-2-background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1100;
    background: radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0, .8));
    background: -webkit-radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0,.8));
    opacity: 0;
}

.loading-2-wrapper {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 2.7em;
    width: 22.7em;
    margin: auto;
    z-index: 1001;
    text-align: center;
}

form#vendor-form h5 {
    font-size: 14px;
}

.PriceOffercs {
    width: 1150px;
    max-width: 1150px;
    border-radius: 0;
}

img#thum_img {
    height: 70px;
}

.modal h4, .modal .h4 {
    font-size: 16px;
}

.from_vender.frominput {
    padding-top: 15px;
}

.modal #wp_thum_img {
    text-align: center;
}

.modal .form-group {
    margin-bottom: 5px;
}

.TimKiem {
    width: 200px;
    margin: auto;
}

.LuuY {
    margin-left: 35px
}

a.btn.btn-secondary.btn_search.XacNhanDonHangTraLai {
    width: 200px;
}

.Heloword {
    font-family: 'Rift-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    text-transform: uppercase;
    color: #212121;
    text-align: left;
    text-shadow: 0 0 12px rgba(0,0,0,0.25);
}

.chaoBibosmart {
    font-family: 'SF-Pro-Text-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #484848;
}


.Mbody {
    border: 1px solid #e9ecef;
    border-radius: 6px;
}

.Mconten {
    margin: auto;
    width: 98%;
    padding-bottom: 20px;
    height: 100%;
    transition: transform .2s; /* Animation */
}

.MSologan.active:hover {
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

body.fixed-navbar.has-animation .MSologan {
    width: 17%;
    height: 163px;
}

.MSologan {
    width: 17.4%;
    display: inline-block;
    /*  border: 1px solid #e9ecef;*/
    border-radius: 3px;
    height: 192px;
    padding: 15px;
    margin: 9px;
    border: 1px solid #000000;
    /*box-shadow: 5px 7px 10px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 5px 7px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 7px 10px 0px rgba(0,0,0,0.75);*/
}

    .MSologan.active {
        background: #f44336;
        color: #fff;
        transition: color 1s ease-in-out;
        -moz-transition: color 1s ease-in-out; /* FF 4 */
        -webkit-transition: color 1s ease-in-out; /* Safari & Chrome */
        -o-transition: color 1s ease-in-out; /* Opera */
        -webkit-transition: width 0.4s;
        transition: width 0.4s;
    }

.MNumber {
    font-family: 'Rift';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    color: #000;
}

.MSologan.active .MNumber {
    color: #fff
}


.Mimages {
    top: 31px;
}

.Mtext {
    font-family: 'SF-Pro-Text-Regular';
    top: 64px;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 32px;
    color: #000;
    margin-left: -5px;
}

body.fixed-navbar.has-animation .Mtext {
    font-family: 'SF-Pro-Text-Regular';
    top: 59px;
    font-size: 10px;
}

.MSologan.active .Mtext {
    color: #fff
}

.activeslo p {
    font-family: 'Rift-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    /* or 156% */
    color: #F44336;
    top: 62px;
    margin-left: -5px;
    animation: fadeIn 1s;
}

.ihead {
    padding: 0 20px;
    border-top: 2px solid #eee;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 50px;
}

    .ihead .ibox-title {
        font-size: 16px;
        font-weight: 600;
    }

.formhorizontalM {
    margin-left: 17px;
}

.conmanyinffo {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

body:not(.fixed-layout).sidebar-mini .page-brand {
    width: 96px;
}

body:not(.fixed-layout).sidebar-mini .page-sidebar {
    width: 96px;
}

.header {
    height: 104px;
}

body:not(.fixed-layout).sidebar-mini .content-wrapper {
    margin-left: 96px;
}

body.fixed-layout .content-wrapper, body.fixed-navbar .content-wrapper {
    padding-top: 104px;
}

.header .page-brand {
    color: #C60011;
    background-color: #fff;
}

.page-sidebar {
    background-color: #fff;
}

.side-menu > li a {
    color: #212121;
}

.page-brand {
    font-family: 'Rift';
    font-style: normal;
    font-weight: 700;
    font-size: 32px !important;
    line-height: 32px;
}

.page-sidebar {
    margin-top: 104px;
}

.side-menu > li.active {
    background-color: #f2f2f2;
}

.side-menu > li a:focus, .side-menu > li a:hover {
    color: #212121;
    background-color: #f2f2f2;
}

.sidebar-mini .side-menu > li:hover > a {
    color: #212121;
    background-color: #f2f2f2;
}

.side-menu > li.active > a, .side-menu > li.active > a:focus, .side-menu > li.active > a:hover {
    color: #212121;
    background-color: #f2f2f2;
}

.side-menu > li.active {
    background-color: #fff;
}

.sidebar-mini .side-menu > li:hover .nav-2-level {
    background-color: #fff;
}

.page-sidebar {
    font-family: 'SF Pro';
    font-style: normal;
    font-weight: 510;
    font-size: 15px;
    line-height: 22px;
}

.ibox {
    background-color: transparent;
}

.ibox-body {
    background-color: #fff;
    border-radius: 4px;
}

.ibox .ibox-body {
    padding: 0px;
}

.Mbody {
    border: none;
    border-radius: 4px;
}

.ibox .ibox-head {
    padding: 0 20px;
    border-bottom: none;
}

.ibox-title {
    font-family: Rift-Bold;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    color: #212121;
}

.ibox .ibox-head .ibox-title {
    font-size: 20px;
    font-weight: 700;
}

.ibox {
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-bottom: 0px;
}

.page-content {
    padding-top: 10px;
}

body:not(.fixed-layout).sidebar-mini .side-menu li .sidebar-item-icon {
    /*font-size: 18px;
    text-align: center;*/
    width: 60px;
    height: 35px;
}

.side-menu li .sidebar-item-icon {
    width: 18px;
    height: 18px;
    margin-right: 15px;
}

.content-wrapper {
    padding: 0 15px 20px 15px;
    min-height: 1080px;
}

.morris-hover {
    display: none !important;
}

.page-sidebar ul li a {
    padding: 10px 9px;
}

.side-menu .nav-2-level > li > a {
    padding: 2px 10px 2px 10px;
}

.side-menu .nav-3-level > li > a {
    padding: 2px 10px 2px 29px;
}

body:not(.fixed-layout).sidebar-mini .side-menu li .nav-2-level {
    top: 32px;
}
