
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .wp_home {
       
    }
    .ct {
        margin: 0 auto;
        padding-top: 0px;
        width: 100%;
    }
    .container {
       padding: 56px 0px 0px 0px !important;
        width: 100%;
        margin-left:0px;
    }
</style>


@if (!Request.Browser.IsMobileDevice)
{
    @Html.Partial("~/Views/Shared/_sidebar.cshtml")
    <div class="content_home ct">
        <div class="wp_home" style="text-align: center; vertical-align:middle;" id="banner">
            <img src="~/Image/imghome.png" width="50%" style="padding-top:30px; padding-bottom:30px"/><br/>
            @*<img src="~/Image/arrowdown.gif" width="50px" />*@
            <table style="width:100%;height:66%">
                <tr style="width:100%;">
                    <td rowspan="2" style="width:37%; background:transparent;vertical-align:top;" >
                        <div class=" py-5 h-100" style="max-height: 371px;">
                            <div class="row d-flex justify-content-center align-items-center h-100" style="width:90%;margin-left: 5%;">
                                <div class="col-md-12 col-xl-10">

                                    <div class="card">
                                        <div class="card-header p-3">
                                            <h3 class="mb-0"><i class="fas fa-tasks me-2"></i> Mô tả công việc</h3>
                                        </div>
                                        <div class="card-body" data-mdb-perfect-scrollbar="true" >

                                            <table class="table mb-0">
                                                <tbody>
                                                    <tr class="fw-normal">
                                                        <th>
                                                            <span class="ms-2">CMS</span>
                                                        </th>
                                                        <td class="align-middle">
                                                            <span>Comming soon</span>
                                                        </td>
                                                    </tr>
                                                    <tr class="fw-normal">
                                                        <th>
                                                            <span class="ms-2">CMS</span>
                                                        </th>
                                                        <td class="align-middle">
                                                            <span>Comming soon</span>
                                                        </td>
                                                    </tr>
                                                    <tr class="fw-normal">
                                                        <th>
                                                            <span class="ms-2">CMS</span>
                                                        </th>
                                                        <td class="align-middle">
                                                            <span>Comming soon</span>
                                                        </td>
                                                    </tr>
                                                    <tr class="fw-normal">
                                                        <th>
                                                            <span class="ms-2">CMS</span>
                                                        </th>
                                                        <td class="align-middle">
                                                            <span>Comming soon</span>
                                                        </td>
                                                    </tr>
                                                    <tr class="fw-normal">
                                                        <th>
                                                            <span class="ms-2">CMS</span>
                                                        </th>
                                                        <td class="align-middle">
                                                            <span>Comming soon</span>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                        </div>
                                        
                                    </div>

                                </div>
                            </div>
                        </div>
                    </td>
                    <td style="width:37%; background:transparent;vertical-align:top">
                        <div class=" py-5 h-100" style="max-height: 180px;">
                            <div class="row d-flex justify-content-center align-items-center h-100" style="width:90%;margin-left: 5%;">
                                <div class="col-md-12 col-xl-10">

                                    <div class="card">
                                        <div class="card-header p-3">
                                            <h3 class="mb-0"><i class="fas fa-chart-line"></i> KPI</h3>
                                        </div>
                                        <div class="card-body" data-mdb-perfect-scrollbar="true">

                                            <table class="table mb-0">
                                                <tbody>
                                                    <tr class="fw-normal">
                                                        <th>
                                                            <span class="ms-2">CMS</span>
                                                        </th>
                                                        <td class="align-middle">
                                                            <span>Comming soon</span>
                                                        </td>
                                                    </tr>
                                                    <tr class="fw-normal">
                                                        <th>
                                                            <span class="ms-2">CMS</span>
                                                        </th>
                                                        <td class="align-middle">
                                                            <span>Comming soon</span>
                                                        </td>
                                                    </tr>
                                                    
                                                </tbody>
                                            </table>

                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </td>
                    <td rowspan="2" style="width:26%; background:transparent;vertical-align:top;">
                        <div class="row d-flex justify-content-center align-items-center h-100" style="width:90%;margin-left: 5%;">
                            <div class="col-md-12 col-xl-10">

                                <div class="card">
                                    <div class="card-header p-3">
                                        <h3 class="mb-0"><i class="fas fa-star me-2"></i>  SAO</h3>
                                    </div>
                                    <div class="card-body" data-mdb-perfect-scrollbar="true">

                                        <table class="table mb-0">
                                            <tbody>
                                                <tr class="fw-normal">
                                                    <th>
                                                        <span class="ms-2">CMS</span>
                                                    </th>
                                                    <td class="align-middle">
                                                        <span>Comming soon</span>
                                                    </td>
                                                </tr>
                                                <tr class="fw-normal">
                                                    <th>
                                                        <span class="ms-2">CMS</span>
                                                    </th>
                                                    <td class="align-middle">
                                                        <span>Comming soon</span>
                                                    </td>
                                                </tr>
                                                <tr class="fw-normal">
                                                    <th>
                                                        <span class="ms-2">CMS</span>
                                                    </th>
                                                    <td class="align-middle">
                                                        <span>Comming soon</span>
                                                    </td>
                                                </tr>
                                                <tr class="fw-normal">
                                                    <th>
                                                        <span class="ms-2">CMS</span>
                                                    </th>
                                                    <td class="align-middle">
                                                        <span>Comming soon</span>
                                                    </td>
                                                </tr>
                                                <tr class="fw-normal">
                                                    <th>
                                                        <span class="ms-2">CMS</span>
                                                    </th>
                                                    <td class="align-middle">
                                                        <span>Comming soon</span>
                                                    </td>
                                                </tr>
                                                <tr class="fw-normal">
                                                    <th>
                                                        <span class="ms-2">CMS</span>
                                                    </th>
                                                    <td class="align-middle">
                                                        <span>Comming soon</span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                    </div>

                                </div>

                            </div>
                        </div>
                </tr>
                <tr style="width:100%;">
                    <td style="width:37%; background:transparent;vertical-align:top;">
                        <div class=" py-5 h-100" style="max-height: 180px">
                            <div class="row d-flex justify-content-center align-items-center h-100" style="width:90%;margin-left: 5%;">
                                <div class="col-md-12 col-xl-10">

                                    <div class="card">
                                        <div class="card-header p-3">
                                            <h3 class="mb-0"><i class="fas fa-hand-holding-usd"></i> Bonus</h3>
                                        </div>
                                        <div class="card-body" data-mdb-perfect-scrollbar="true">

                                            <table class="table mb-0">
                                                <tbody>
                                                    <tr class="fw-normal">
                                                        <th>
                                                            <span class="ms-2">CMS</span>
                                                        </th>
                                                        <td class="align-middle">
                                                            <span>Comming soon</span>
                                                        </td>
                                                    </tr>
                                                    <tr class="fw-normal">
                                                        <th>
                                                            <span class="ms-2">CMS</span>
                                                        </th>
                                                        <td class="align-middle">
                                                            <span>Comming soon</span>
                                                        </td>
                                                    </tr>

                                                </tbody>
                                            </table>

                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                </table>
</div>
    </div>
    <script type="text/javascript">

        $(function () {
            $('#txtHead').html("Văn phòng điện tử");
        });
       
    </script>
}
else
{
    <div class="content_home ct">
        <div class="wp_home" style="text-align: center; vertical-align:middle; height:100%">
            <img src="~/Image/imghome.png" width="100%" />
        </div>
    </div>
}